{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
    <h1>{{ .Title }}</h1>
    <h3>{{ .Description }}</h3>
  </div>
  <div>
    <div id="post">
        {{.Content}}
    </div>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <img alt="gopher with sparkle wand" src="{{ "/img/rainbow-sparkles-gopher.png" | relURL }}" width="128" height="128">
        <h3>Tame Your Status</h3>
        <p>Make all your Slack teams shut up with a single command</p>
      </div>
      <div class="col col-4 item">
        <img alt="gopher in buffalo costue" src="{{ "/img/buffalo-gopher.png" | relURL }}" width="128" height="128">
        <h3>It's Complicated</h3>
        <p>Juggle work, personal Slack teams and when they beep at you</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="sleeping gopher" src="{{ "/img/sleeping-gopher.png" | relURL }}" width="128" height="128">
        </figure>
        <h3>Schedule Quiet Time</h3>
        <p>Setup a schedule for being available on each Slack team</p>
      </div>
    </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
